
/*     Start Main rulez    */
@-o-viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}
@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

body {
	margin: 0;
	padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;

     }

/************ Start jarallax *********/
/* demo styles */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



.jarallax {
  min-height: 100vh;

}
    .jarallax:first-child{
      z-index: 2;
    }

/* hero block */
.demo-table {
  display: table;
  width: 100%;
  height: 100vh;
}
.demo-table-cell:not(#demoTable1) {
  text-align: center;
  vertical-align: middle;
}
.demo-table-cell {
  display: table-cell;
}


.jarallax-keep-img > .jarallax-img {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: -1;
}

h1 {
  font-size: 80px;
  margin-bottom: 20px;
  color:#9ab2ca;
  text-transform:uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.demo-table-cell a{
  text-decoration: none;
}
.demo-table-cell a span{
  font-size: 22px;
  border: 3px solid #9ab2ca;
  padding: 5px 12px;
  color: #9ab2ca;
  text-transform:uppercase;
  cursor: pointer;
}
.demo-table-cell a span:hover{
  border: 2px solid white;
  color: white;
}

@media only screen and (max-width: 600px){
  h1{
    font-size: 45px;
    line-height: 1.5;
  }
  .demo-table-cell a span {
    font-size: 17px;
  }
}


/************End jarallax *********/
/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(172, 168, 168); 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(141, 139, 139); 
}
/*     End Main rulez    */



/*     Start Header    */

.header .navbar .div1 img{
  width: 100px;
}

.header .navbar div:first-child{
  width: 20%;
}
.header .navbar div:last-child{
  width: 78%;
}

.header .navbar{
  width: 100%;
  background: rgb(255,255,255);
  background:linear-gradient(180deg, rgb(255 255 255) 0%, rgba(255,255,255,0) 100%);
  padding: 30px 0;
  transition: top 0.3s;
  width: 100%;
  z-index: 2;
  transition: all 0.5s;
  border:none;

}

/* .header .navbar{ */

  /* IE10 Consumer Preview  */
  /* background-image: -ms-linear-gradient(top, rgb(255 255 255) 0%, rgba(255,255,255,0) 100%); */
  
  /* Mozilla Firefox */ 
  /* background-image: -moz-linear-gradient(top,  rgb(255 255 255) 0%, rgba(255,255,255,0) 100%); */
  
  /* Opera */ 
  /* background-image: -o-linear-gradient(top,  rgb(255 255 255) 0%, rgba(255,255,255,0) 100%); */
  
  /* Webkit (Safari/Chrome 10) */ 
  /* background-image: -webkit-gradient(linear, top bottom, top bottom, color-stop(0, #FFFFFF), color-stop(1, #BDBDBD)); */
  
  /* Webkit (Chrome 11+) */ 
  /* background-image: -webkit-linear-gradient(top,  rgb(255 255 255) 0%, rgba(255,255,255,0) 100%); */
  
  /* W3C Markup, IE10 Release Preview */ 
  /* background-image: linear-gradient(to bottom, #FFFFFF 0%, #BDBDBD 100%); */
  /* } */


.header .navbar .div1 img{
float: left;
}
.header .navbar:last-child{
  display: none;
}

.header .navbar ul.menu1{
  list-style: none;
  width: 100%;
  display: inline-flex;
}

.header .navbar ul.menu1 li a{
  color:black;
  font-size:25px; 
  font-weight: 590;     
}
.header .navbar ul.menu1 li.lien7 a{
  color:white !important;
}
.header .navbar ul.menu1 li:not(.lien5,.lien6,.lien7){
  text-decoration: none;
  display: inline-block;
}
.header .navbar ul.menu1 li.lien1,.header .navbar ul.menu1 li.lien2,
.header .navbar ul.menu1 li.lien3,.header .navbar ul.menu1 li.lien4{
  padding:0 30px;
}

.header .navbar ul.menu1 li.lien4{
  padding-left:30px;
  padding-right: 0;
}
.header .navbar ul.menu1 li.lien5,.header .navbar ul.menu1 li.lien6
,.header .navbar ul.menu1 li.lien7{
  text-decoration: none;
  display: inline-block;
  padding:0 10px;
}


.header .navbar ul.menu1 li.lien7{
  display: none;
}

.header .navbar ul.menu1 li a {
  text-decoration: none;
}
.header .navbar ul.menu1 li a:hover,
.header .navbar ul.menu2 li a:hover{
  color:#f8d001;
}
 .header .navbar ul.menu1 li a:active{ 
  color:#f8d001; 
 }
 .header .navbar ul.menu1 li.lien1 a,
 .header .navbar ul.menu2 li.lien1 a{
  color: #f8d001;
 }

.header .navbar ul.menu1 li.lien5 a{
  font-size: 20px;
  color: #f8d001;
  position: absolute;
  right: 126px;
  top: 40px;
}
.header .navbar ul.menu1 li.lien6 a{
  font-size: 22px;
  background: white;
  color: black;
  padding: 8px 20px;
  border-radius: 17px;
  position: absolute;
  right: 12px;
  top: 27px;
  } 

  @media (max-width:1070px){
    .header .navbar div:first-child{
      width: 15%;
    }
    .header .navbar div:last-child{
      width: 83%;
    }
     .header .navbar ul.menu1{
      padding-left:0px;
      margin-left:0px;
            }  
  }

  @media only screen and (max-width: 960px){
    .header .navbar ul.menu1{
      padding-left:0px;
      margin-left:0px;
    }
    .header .navbar ul.menu1 li a{
      font-size:16px;     
    }
    .header .navbar ul.menu1 li.lien5 a{
      font-size: 17px;
      right: 100px;
      top: 36px;
    }
    .header .navbar ul.menu1 li.lien6 a{
      font-size: 15px;
      padding: 6px 17px;
      border-radius: 10px;
      top: 32px;
      } 
      .header .navbar .div1 img{
        width: 80px;
        }
        .header .navbar ul.menu1 li.lien5,.header .navbar ul.menu1 li.lien6{
          padding:0 4px;
        }
  }
  @media only screen and (max-width: 810px){

    .header .navbar ul.menu1 li a {
      font-size:15px;     
    }
    .header .navbar ul.menu1 li.lien4 {
      padding-left: 25px;
    }
      .header .navbar .div1 img{
        width: 80px;
        }

  }
  @media only screen and (max-width: 700px){

    .header .navbar ul.menu1 li.lien1,.header .navbar ul.menu1 li.lien2,
.header .navbar ul.menu1 li.lien3,.header .navbar ul.menu1 li.lien4,
.header .navbar ul.menu1 li.lien7{
  padding: 0 13px;
}
    .header .navbar ul.menu1 li a{
      font-size:18px;     
    }
    .header .navbar ul.menu1 li.lien6 a{
      font-size: 13px;
      padding: 6px 17px;
      border-radius: 10px;
      } 
      .header .navbar ul.menu1 li.lien5 a{
      font-size: 16px;
      right: 90px;
      }
      .header .navbar .div1 img{
        width: 70px;
        }
  }

  /**
********************* Mobile Navigation 
*/
 
  @media only screen and (max-width: 600px){
    .jarallax:not(:first-child) {
      z-index: -1;
    }
    .header .navbar{
      background: linear-gradient(to top left, rgb(135 133 136 / 50%), rgb(138 153 165 / 70%));
      margin-bottom: 0;
      z-index: 2;
    }

    .header .navbar ul{
      padding:0px;
    }
    .header .navbar ul.menu1 li.lien1,
    .header .navbar ul.menu1 li.lien2,
    .header .navbar ul.menu1 li.lien3,
    .header .navbar ul.menu1 li.lien4{
      display: none;
    }
    .header .navbar .div1 img{
      width: 70px;
      padding-left: 10px;
    }   
    .header .navbar div:first-child{
      width: 35%;
    }
    .header .navbar div:last-child{
      width: 63%;
    }
    .header .navbar:first-child{
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      position: fixed;
      z-index: 3;
      padding: 20px 0;
    }
    .header .navbar:last-child{
      width: 100%;
      padding: 18px 0;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
      overflow: hidden;
      position: fixed;
      bottom: 0;
      text-align: center;
      display: block;
    }
    .header .navbar ul.menu2{
      list-style: none;
      width: 100%;
    }
    .header .navbar ul.menu2 li{
      display: inline-block;
      padding: 0 12px;
    }
      
    .header .navbar ul.menu2 li a {
      text-decoration: none;
    }
    .header .navbar ul.menu1 li.lien7{
      display: block;
      position: absolute;
      top: 35px;
      right: 128px;
    }
    .header .navbar ul.menu2 li:not(.lien4){
      border-right: 3px solid lightgrey; 
    }
    .header .navbar ul.menu2 li a{
      color:white;
      font-size:13px;  
      font-weight: 600     
    }
    .header .navbar ul.menu2 li a:active{ 
      color:#f8d001; 
     }


  }

  /* ***************** Style Page two ****** */
  #content1{
    width: 100%;
    height: 100%;
   }
  .header .nav .div1 img{
    float: left;
    width: 72px;
    margin-left: 16px ;
    }

    .header .nav div#div1{
      width: 20%;
    }
    .header .nav div#div2{
      width: 95%;
    }
    
    .header .nav{
      width: 100%;
      background: black;
      padding: 30px 0;
      transition: top 0.3s;
      width: 100%;
      /* z-index: 2; */
      transition: all 0.5s;
      border:none;
    }
    .header .nav ul.menu1{
      list-style: none;
      width: 100%;
      display: inline-flex;
    }
    
    .header .nav ul.menu1 li a{
      color:black;
      font-size:25px; 
      font-weight: 590; 
      text-decoration: none;    
    }

    .header .nav ul.menu1 li.lien5 a{
      font-size: 20px;
      color: #f8d001;
      position: absolute;
      right: 126px;
      top: 38px;
    }
    .header .nav ul.menu1 li.lien6 a{
      font-size: 22px;
      background: white;
      color: black;
      padding: 7px 17px;
      border-radius: 17px;
      position: absolute;
      right: 12px;
      top: 30px;
      } 

      /********* Style Content  *********/
      .flex-content {
        position: relative;
        width: 100%;
        height: auto;
        display: inline-block;
        padding:12px;
        }
        iframe#iframe1{
          width: 100%;
          border-radius: 20px;
          height: 340px;
        }
        .google-map1{
          width: 85%;
          margin: auto;
        }
        .flex-content .flex-left table{
          width: 65%;
         margin-left: auto;
         margin-right: auto;
         margin-top: 20px;
        }
        .flex-content .flex-left table tr td{
          padding-top: 15px;
          padding-bottom: 15px;
        }
        .flex-content .flex-left svg{
          vertical-align: revert !important;
          margin-left: 13px !important;
        }
        .flex-left {
          padding: 30px 10px 10px 10px;;
          width: 50%;
          float: left;
          flex: 50%;
        }
        
        .flex-right {
          padding: 30px 10px 10px 10px;;
          width: 50%;
          float: left;
          flex: 50%;
          height: 63vh;
        }
        hr#hrone{
          height: 0;
          margin-top:0 !important;
          margin-bottom: 0 !important;
          border-top: 5px solid black;
        }
        .flex-left div#divtop{
          width: 85%;
          margin-left: auto;
          margin-right: auto;

        }
        .flex-left div#divbottom{
          width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
        .flex-left div#divbottom div#divprix{
          width: 85%;
          margin-left: auto;
          margin-right: auto;
          background: #66b830;
          padding: 17px 17px 17px 25px;
          color: #e2ffce;
          border-radius: 25px;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          cursor: pointer;
        }
        .flex-left div#divbottom div#divprix:hover{
          opacity: 0.8;
        }
        .flex-left div#divbottom div#divprix span#span1{
          padding-right: 20%;
        }
        .flex-content .flex-right div#divmetre{
          color: white;
          font-size: 20px;
          margin-left: 13%;
          margin-top: 10px;
        }
        .flex-content .flex-right div span#spanmetre{
          border-right: 1px solid white;
          padding: 0 12px;
        }
        .flex-content .flex-right div span#spanheure{
          padding: 0 12px;
        }


        @media only screen and (max-width: 870px){
          .flex-left div#divbottom{
            width: 90%;
          }
          .flex-left div#divbottom div#divprix{
            width: 90%;
            font-size: 14px;
          }
          .flex-content .flex-left table{
            width: 77%;
          }
          .flex-left div#divbottom div#divprix span#span1{
            padding-right: 11%;
          }
        }
        @media only screen and (max-width: 700px){
 
          .flex-content .flex-left table{
            width: 85%;
          }
        .flex-content .flex-left table tr td{
          font-size: 11px;
        }
      }


  @media only screen and (max-width: 600px){
    .header .nav{
      padding: 25px 0;
    }
    .header .nav .div1 img{
      width: 70px;
      margin-left: 14px;
      }
      .header .nav ul.menu1 li.lien5 a{
        font-size: 15px;
        right: 95px;
        top: 38px;
      }
      .header .nav ul.menu1 li.lien6 a{
        font-size: 15px;
        right: 12px;
        top: 30px;
        right: 10px;
        } 
        .flex-left {
          width: 100%;
        }
        
        .flex-right {
          width: 100%;
        }
        .flex-left div#divtop{
          width: 95%;
        }
        .flex-left div#div1,.flex-left div#div2{
          width: 90%;
          padding: 14px 14px 14px 20px;
        }
        .flex-content .flex-left table{
          width: 88%;
        }
        .flex-content .flex-left table tr td{
          font-size: 10px;
          padding-left: 10px;
        }
        .flex-left div#divbottom div#divprix{
          font-size: 13px;
        }


  }

         /* *****************End Style Page two ****** */

/*     End Header    */

	/*------------------- Style Form -------------->*/
   form#form1{
    position: relative;
    width: 100%;
    height: auto;
   }
   .container{
    width: 67%;
   }

  label#lblerreur{
    color: red;
    padding-top: 5px;
    display: none;
    }
  .btn-warning {
		background-color: #f8d001;
		border-color: #f8d001;
		border-radius: 50%;  
		width: 48px;
		outline: none;
		 }
		 .btn-warning:hover{
			 border-color:#ffc107;
			 background-color:#ffc107 ;
		 }

     .flex-container {
      position: relative;
      top: -45px;
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      background-color: #f8f2ce;
      border-radius: 50px;
      justify-content: center;
      padding:12px;
      z-index: 2;
      }

		    .item1,.item2,.item3,.item4,.item5 {
			background-color: #f8f2ce;
		  }
		  .item1,.item2{
			  flex: 24%;
		  }
		  .item3{
			flex: 19%;
		}
		.item4{
			flex: 17%;
		}


		  .glyphicon-search{
			  font-weight: 300;
			  font-size: 25px;
        right: 1.5px;
        top:2px;
		  }		  
	
      .flex-container input{
		  padding-right:0;
		  padding-left:0;
		  border:none;
		  width: 100%;
		  outline: none;
		  padding-inline-start: 14px;
      font-size: 20px;
		  }
      #btn2{
        display: none;
      }
      #btn3{
        display: none;
      }
		  input.item1{
		  padding-inline-start: 20px;
		  }

	   input.item4{
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		width: 20%;
	  }
	  input.item1{
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	  }

	  .flex-container input::placeholder{
		   padding-left: 20px;
		   font-size: 20px;
	   }
     .flex-container input:not(#input4){
		border-right: 1px solid #a8a383;  
		 }
		 .btn:focus{
			background-color: #f8cf03;
			border-color: #f8cf03;
		}
		 .btn:active{
			 background-color: #f8cf03;
			 border-color: #f8cf03;
			 outline: none;
		 }


     		  /* Responsive layout - makes a one column-layout instead of a two-column layout */
		  @media (max-width: 820px) {
        .item1,.item2,.item3 ,.item4{
          flex:20%;
        }
        .flex-container {
          justify-content: center;
          padding-bottom: 10px;
          }
          .flex-container input{
            font-size: 16px;
          }
        }
        @media (max-width: 760px) {
          .flex-container input::placeholder{
          padding-left: 7px;
          font-size: 17px;
        }
        .flex-container input{
          font-size:14px;
        }
      }
      @media (max-width: 600px) {
        form#form1{
          position: fixed;
          bottom: 66px;
          z-index: 2;
         }
         .btn{
          position: fixed;
          right: 20px;
          bottom: 54px;
          display: block;
         }
         .container{
          width: 75%;
         }
        .flex-container {
          bottom:20px;
          width: 100%;
          padding: 10px;
          background-color: #f8f2ce;
          border-radius: 30px 30px 0 0;
          position: static;
          z-index: 1;
          }

          .item1,.item2,.item3,.item4{
            flex: 100%;
          }
          .flex-container input:not(#input4){
          border-right:none;  
          }
          .flex-container input{
          border-bottom: 1px solid #a8a383;  
          }
          input.item1{
            padding-inline-start:0;
            }
      
           input.item4{
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          width: 20%;
          }
          input.item1{
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          }
          .flex-container input::placeholder{
          padding-left:0;
          font-size: 15px;
        }
        .flex-container input{
          padding-inline-start: 0;
          font-size: 14px;
          margin:8px;
        }
        label#lblerreur {
         font-size: 9px;
         padding-top: 0;
         }
      }

       /* style resulte recherch  */

       table{
         margin:5px 0;
       }
         
       tr{
        cursor: pointer;
       }

      .flex-container3 {
        display: flex;
        flex-wrap: wrap;
        font-size: 13px;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;

      }
      
      .flex-item-left {
        background-color: #fff;
        padding: 10px;
        flex: 50%;
		    border-right: 1px solid #a8a383;
        border-bottom-left-radius: 35px; 
      }
      
      .flex-item-right {
        background-color: #fff;
        padding: 10px;
        flex: 50%;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px; 
      }
      .flex-item-left img,.flex-item-right img{
        vertical-align: text-top;
        padding-left: 5px;
      }
      .divtable{
       margin:0 20px;
       position: relative;
       top: -55px;
       padding-right: 2px;
       background-color: #fff;
       padding-top:30px;
       padding-bottom:20px;
       border-radius: 10px 10px 35px 35px ;
      }
      td{
        color:#b1b1b1;
        padding-bottom: 17px;
      }
      td:last-child{
        color:#91d65f;
        font-weight: bold;
      }
      td.tdprix1,td.tdprix2{
        color:#91d65f;
        font-weight: bold;
      }
      td.tdprix1{
      padding-right: 0 !important;
      text-align: right;
      }
      td.tdprix2{
        padding-left: 0 !important;
        }
      .arrow{
        display:none;
      }
   
      @media (max-width: 770px) {
        .flex-item-right, .flex-item-left {
          flex: 100%;
          padding-bottom:0;
        }
        .flex-item-right{
          padding-top:0;
        }
        td{
          padding-bottom: 12px;
        }
        .container{
          width: 72%;
         }
      }
      @media (max-width: 600px) {
        .glyphicon{
          display: none;
        }
        #btn1{
          display: none;
        }
        #btn3{
          display: none;
        }
        #btn2{
          display: block;
        }
        .container{
          width: 75%;
         }
         .flex-container3 {
          font-size: 10px;
         }
         .flex-item-left img, .flex-item-right img {
          width: 23px;
          }
         .divtable{
          top: 0;
          background-color: #fff;
          border-top-right-radius: 35px;
          border-top-left-radius: 35px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;  
          margin: 0;
          padding-top: 14px;
          padding-bottom: 15px;
         }
         .flex-item-left {
          border-right:none;
          border-radius: 35px;
         }
         .arrow{
          display: block;
        }

      }

      /*--------------------------- start Form Login ----------------*/

      /* Full-width input fields */

      form#form2 input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }
      form#form2 input[type=text]::placeholder, input[type=password]::placeholder{
        font-size: 16px;
      }
      form#form2 input[type=text]:focus, input[type=password]:focus{
        border: 2px solid rgb(43 187 196 / 77%) ;
        outline: none;
        }
.header .navbar ul.menu1 li.lien6:hover {
  opacity: 0.8;
}

/* Set a style for all buttons */
button#loginfm{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 12px;
}
button#btncancel{
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

button#loginfm:hover ,button#btncancel:hover {
  opacity: 0.8;
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 15px 0 0 0;
  position: relative;
}
.imgcontainer p{
  font-size: 25px;
  font-weight: 600;

}


.containerlogin {
  padding: 25px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 43%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}
.containerlogin:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: -7%;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
hr{
  margin-top: 5px;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
@media screen and (max-width: 900px){
  .modal-content{
    width:80%;
  }
}

@media screen and (max-width: 600px) {
  .modal-content{
    width:80%;
    margin-top: 13%;
  }

  form#form2 input[type=text], input[type=password]{
    padding: 10px 15px;
  }
  form#form2 input[type=text]::placeholder, input[type=password]::placeholder{
    font-size: 13px;
  }

  form#form2 .modal-content{
    padding: 0;
  }
  button#btncancel{
    padding: 10px 10px;
  }
  .containerlogin{
    padding: 0 10px 8px 10px;
  }
  
}

      /*--------------------------- End Form Login ----------------*/


      /* ********** Style scroll vertical page two ***** */

      .grid-item  {
        position: relative;
        width: 100%;
        height: 250px;
        overflow: hidden;
	      -webkit-overflow-scrolling: touch;
        cursor: grab;
        top: 20px;
        left: 25px;
      }
      .grid-container .grid-item .items,.grid-container .grid-item .items2{
        position: absolute;
        top: 0;
        left: 20px;
        cursor: pointer;
        user-select: none;
        display: flex;
        pointer-events: none;

      }

       .item{
        background: white;
        overflow: hidden;
        margin:1.5em 1.7em;
        border-radius: 30px;
        width: 250px;
        height: 160px;
      }
      
  .grid-container div.textslide1{
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    color: white;
    text-align: center;
  }
  .grid-container div.textslide1 span{
    border-top: 2px solid #c5c5c5;
    padding: 13px;
    font-family: 'Poppins';
  }

  .items.active {
    background: rgba(255,255,255,0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

  .btnMore {
    display: inline-block;
    min-width: 180px;
    border-radius: 30px;
    pointer-events: visible;
  }

  .btnMore:hover {
    opacity: 0.9;
  }
  .btntext{
    color: #2c2c2c;
    font-size: 17px;
    top: 90px;
    position: relative;
    text-align: left;
  }
  .btntext a{
    padding: 12px;
    background: white;
    border-radius: 23px;
    margin-left: 15px;
    font-family: 'Poppins';
  }

  .dvcircle{
    width:50px;
    height:50px;
    position:absolute;
    background:white;
    border-radius:50%;
    margin-left: 223px;
    margin-top: -15px;
    border: 2px solid #ffc107;
    color: #ffc107;
    text-align: center;
    cursor: pointer;
    pointer-events:visible;
    z-index: 1;

  }
  .dvcircle p{
  margin-top: 8px;
  font-size: 21px;
  font-family: 'Poppins';
  }

  .dvtext p{
  position: relative;
  top: 123px;
  color: #2c2c2c;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins';
  pointer-events:visible;
  }
  
  .dvtext p:hover{
   color:#ffc107 ;
  }


  
  @media screen and (max-width: 1440px) {
    .grid-container .grid-item  {
    overflow-x: scroll;
    }
    .grid-container .grid-item::-webkit-scrollbar{
      display: none;
    }
    .grid-container .grid-item {
      overflow-x: scroll;
      }
      .grid-container .grid-item::-webkit-scrollbar{
        display: none;
      }
    }
  @media screen and (max-width: 600px) {
    .grid-container .grid-item .items,.grid-container .grid-item .items2{
      padding: 0;
      left: 0 !important;
    }
     .item {
      margin: 2em 2.4em;
      width: 230px;
      height: 140px;
    }
    .grid-item{
      left: 0;
    }
    .dvcircle {
      width: 40px;
      height: 40px;
      margin-left: 208PX;
      margin-top: -15px;
  }
  .dvcircle p {
    margin-top: 6px;
    font-size: 18px;
  }
    .dvtext p{
    top: 115px;
    font-size: 15px;
    }
    .btntext{
      top:70px;
      font-size: 15px;
    }

    .grid-container div.textslide1{
      font-size: 17px;
    }
    .grid-container div.textslide1 span{
      padding: 10px;
    }

    .flex-content .flex-right div#divmetre {
      font-size: 14px;
    }

  }


  /* ************ style page tree *********** */
 .divcontent-pg3{
  width: 100%;
  height: 85vh;
  background-image: url('/img/Jmaalefna.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
 }
 .flex-pg3{
  padding-top: 40px;
  }
   form#form3{
    position: relative;
    width: 100%;
    height: auto;
   }

   .flex-container-pg3 {
    position: relative;
    width: 500px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f8f2ce;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    }
 

    .flex-container-pg3 input{
		  padding-right:0;
		  padding-left:0;
		  border:none;
		  width: 80%;
		  outline: none;
		  padding-inline-start: 14px;
      font-size: 20px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      margin-left: 17px;
		  }
   .flex-container-pg3 span#spanErreur{
    color: red;
    font-size: 26px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    visibility: hidden;
   }


      .flex-container-pg3 button {
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        cursor: pointer;
        background-color: #f8d001;
        border-color: #f8d001;
        border-radius: 50%;  
        width: 55px;
        height: 55px;
        outline: none;
        margin-top: auto;
        margin-bottom: auto;
      }
      .flex-container-pg3 button:hover{
        opacity: 0.7;
         }

         .grid-pg3{
          /* margin-top: 60px; */
          padding-top: 60px;
          position: relative;
         }

.container1-pg3{
  width: 95%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-family: sans-serif;

}

.row-1-pg3{
  display: flex;
  display: -webkit-flex;
  width: 100%;
  /* margin: 0px 22px; */
  /* border: 1px solid yellow; */
  margin-top: 20px;
}
.dv2{
  margin-top: 55px;
}
.row-1-pg3 div.item1-pg3{
  width: 290px;
  height: 180px;
  background: white;
  border-radius: 35px;
  font-size: 20px;
  font-weight: 600;
  
}
.row-1-pg3 div.item1-pg3 p{
  margin: auto;
  text-align: center;
  transform: translate(1px, 80px);

}
.row-1-pg3 .content-1-pg3{
  width: 70%;
  margin-left: 35px;
  margin-top: 25px;
}

.row-1-pg3 .content-1-pg3 p.text1-pg3{
    color: white;
  font-size: 15px;
  /* line-height: 22.5px; */

}
.row-1-pg3 .content-1-pg3 button.link-AddToCard{
  color: white;
  background:#66b830;
  display: inline-block;
  float: right;
  padding: 10px 22px;
  border-radius: 12px;
  font-size: 16px;
  border-color: transparent;
}
.row-1-pg3 .content-1-pg3 button.link-AddToCard:hover{
  opacity: 0.7;
}
.container1-pg3 div.textstop-pg3{
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  color: white;
  text-align: center;

}
.container1-pg3 div.textstop-pg3 p{
  border-top: 3px solid #c5c5c5;
  font-family: 'Poppins';
  display: inline-block;
  margin-top: -2px;
}
.container1-pg3 div.textstop-pg3 p span{
  padding: 15px;
  display: inline-block;
}
@media only screen and (max-width: 600px){
  .flex-container-pg3 {
    width: 265px;
    height: 60px;
  }
  .flex-container-pg3 input{
    font-size: 14px;
    width: 74.5%;
    margin-left: 5px;
  }
  .flex-container-pg3 span.spanErreur {
    font-size: 20px;
    margin-right: 2px;
}
.flex-container-pg3 button {
  font-size: 17px;
  width: 40px;
  height: 40px;
}
.row-1-pg3{
  flex-flow: nowrap;
  margin-top: 10px;
}
.container1-pg3 div.textstop-pg3{
  font-size: 17px;
}
.row-1-pg3 .content-1-pg3 p.text1-pg3{
  font-size: 9px;
}
.row-1-pg3 div.item1-pg3{
  width: 290px;
  height: 140px;
  margin: auto;
  font-size: 15px;
}
.row-1-pg3 .content-1-pg3{
    width: 80%;
    margin-left: 11px;
    margin-right: auto;
    margin-top: 15px;
}
.row-1-pg3 div.item1-pg3 p{
  transform: translate(1px, 60px);
}
.row-1-pg3 .content-1-pg3 button.link-AddToCard{
  padding: 7px 15px;
  font-size: 13px;
}

div.dv1{
  margin-top: 0px ;
} 

}


.flex-left div#divtop{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.flex-left div#divtop input{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background: #f8f2ce;
  padding: 17px 17px 17px 25px;
  color: black;
  outline: none;
  border-color: transparent;
}
.flex-left div#divtop input::placeholder{
  color: black;
}
.flex-left div#divtop input#inputDep{
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.flex-left div#divtop input#inputArv{
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}


/**************** Style Page Four  ****************/
.flex-left div#divtop p#NameAct{
  color: white;
  font-size: 22px;
}
.flex-left div.divBtm{
  width: 80%;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.divcontent-pg3 div#dvslider{
  width: 100%;
  height: 85vh;
  background: rgb(50 39 39 / 40%);
  position: absolute;
  z-index: 2;
  display: none;
}

.mySlides {display: none;border-radius: 25px;}
.mySlides img {vertical-align: middle;border-radius: 25px;}

/* Slideshow container */
.slideshow-container {
  max-width:90%;
  margin: auto;
  position: relative;
}

/* Next & previous buttons */
.slideshow-container a.prev, .slideshow-container a.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.slideshow-container a.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-container a.prev:hover, .slideshow-container a.next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.fade:not(.show) {
  opacity: 1;
}

@-webkit-keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .slideshow-container a.prev, .slideshow-container a.next {
    font-size: 11px;
    padding: 10px;
    margin-top: -18px;
  }
}

.header .nav .div2 ul li.lienShop a{
  color: white;
  padding: 7px 17px;
  position: absolute;
  right: 170px;
  top: 27px;
  font-size: 25px;
  text-decoration: none;
} 



.dvBtmSld{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 12px auto 0px auto;
  max-width: 80%;
}

.dvBtmSld p#idpicon {
  color: red;
  background: white;
  border-radius: 10px;
  padding: 6px 12px;
  cursor:pointer;
}

.dvBtmSld p#idpicon span#spanIcon{
  padding-right: 10px;
}

.dvBtmSld p#idpPrix {
  padding: 6px 20px;
  color: white;
  background: #66b830;
  border-radius: 10px;
  cursor:pointer;
}

.dvBtmSld p#idpicon:hover,.dvBtmSld p#idpPrix:hover{
  opacity: 0.9;
}
.dvBtmSld p#idpicon:active {
    color: white;
    background: red;
}
.dvBtmSld p#idpPrix:active {
  color: #66b830;
  background: white;
}

div#dvslider .flex-right p {
  color: white;
  font-size: 1.1vw;
  padding-bottom: 10vh;
  width: 85%;
  margin: auto;
  line-height: 25px;
}

div#dvslider .flex-right .google-map2{
  width: 85%;
  margin: auto;
}


div#dvslider .flex-right .google-map2 iframe#ifram2{
  width: 100%;
  border-radius: 20px;
  height: 90px;
}

div#dvslider span#spanclose{
    color: white;
    font-size: 25px;
    float: right;
    margin: 15px; 
    cursor: pointer; 
}
div#dvslider span#spanclose:hover{
  color: red;
}

@media only screen and (max-width: 1100px) {
  .flex-left div.divBtm{
    width: 97%;
  }
  div#dvslider .flex-right p{
    font-size: 1.3vw;
    padding-bottom: 6vh;
    line-height: 23px;
  }
  div#dvslider .flex-right .google-map2 iframe#ifram2{
    height: 80px;
  }
}

@media only screen and (max-width: 900px) {
  .flex-left div.divBtm{
    width: 100%;
  }

  div#dvslider .flex-right p{
    font-size: 1.4vw;
    padding-bottom: 5vh;
    line-height: 21px;
    width: 100%;
  }
  div#dvslider .flex-right .google-map2{
    width: 95%;
  }
}
@media only screen and (max-width: 600px) {

  div#dvslider .flex-left{
    padding: 0;
    margin-top: -15px;
  }
  div#dvslider span#spanclose{
    margin: 10px 15px 0 15px;
  }

  .flex-left div#divtop p#NameAct{
    font-size: 16px;
  }
  .flex-left div.divBtm{
    padding-top: 0;
  }
  .slideshow-container{
    width: 56%;
  }
  .dvBtmSld{
    margin: 8px auto 0px auto;
    max-width: 50%;
  }
  .dvBtmSld p#idpicon,.dvBtmSld p#idpPrix{
    border-radius: 8px;
    padding: 5px 8px;
  }
  div#dvslider .flex-right{
    padding: 4px 10px;
  }
  div#dvslider .flex-right p{
    font-size: 12.5px;
    line-height: 18px;
    padding-bottom: 2vh;
  }
  div#dvslider .flex-right .google-map2 iframe#ifram2{
    height: 73px;
  }

  .header .nav .div2 ul li.lienShop a{
    right: 124px;
    top: 25px;
    font-size: 22px;
  }
  
}

@media only screen and (max-width: 320px) {
  div#dvslider .flex-right p{
    font-size: 10px;
    line-height: 15px;
  }
}
