
/*     Start Main rulez    */
body {
	margin: 0;
	padding: 0;
  background: #2e2e2e;
     }


/*     End Main rulez    */


/*     Start Header    */

.header .navbar .div1 img{
  width: 100px;
}

.header .navbar div:first-child{
  width: 20%;
}
.header .navbar div:last-child{
  width: 78%;
}
.header .navbar{
  width: 100%;
  background:#131313;
  padding: 30px 0;
}

.header .navbar img{
float: left;
}

.header .navbar ul{
  list-style: none;
  width: 100%;
  float:left;
}

.header .navbar ul li a{
  color:#f4f4f4;
  font-size:25px;     
}
.header .navbar ul li:not(.lien5,.lien6){
  text-decoration: none;
  display: inline-block;
  padding:0 30px;
}
.header .navbar ul li.lien4{
  padding-left:30px;
  padding-right: 0;
}
.header .navbar ul li.lien5,.header .navbar ul li.lien6{
  text-decoration: none;
  float: right;
  display: inline-block;
  padding:0 10px;
}

.header .navbar ul li:not(.lien4,.lien5,.lien6){
  border-right: 3px solid lightgrey; 
}
.header .navbar ul li a {
  text-decoration: none;
}

.header .navbar ul li a:hover{ 
  color:#f8d001; 
 }

.header .navbar ul li.lien5 a{
  font-size: 20px;
  color: #f8d001;
}
.header .navbar ul li.lien6 a{
  font-size: 22px;
  background: white;
  color: black;
  padding: 8px 20px;
  border-radius: 17px;
  } 

  @media (max-width:1020px){
    .header .navbar div:first-child{
      width: 15%;
    }
    .header .navbar div:last-child{
      width: 83%;
    }
     .header .navbar ul{
      padding-left:0px;
      margin-left:0px;
            }  
  }

  @media only screen and (max-width: 910px){
    .header .navbar ul{
      padding-left:0px;
      margin-left:0px;
    }
    .header .navbar ul li a{
      font-size:16px;     
    }
    .header .navbar ul li.lien6 a{
      font-size: 15px;
      padding: 6px 17px;
      border-radius: 10px;
      } 
      .header .navbar .div1 img{
        width: 80px;
        }
        .header .navbar ul li.lien5,.header .navbar ul li.lien6{
          padding:0 4px;
        }
  }
  @media only screen and (max-width: 909px){
    .header .navbar ul{
      padding-left:0px;
      margin-left:0px;
    }
    .header .navbar ul li a{
      font-size:20px;     
    }
    .header .navbar ul li.lien6 a{
      font-size: 13px;
      padding: 6px 17px;
      border-radius: 10px;
      } 
      .header .navbar .div1 img{
        width: 80px;
        }
        .header .navbar ul li.lien5,.header .navbar ul li.lien6{
          padding:0 4px;
        }
  }
  @media only screen and (max-width: 760px){
     .header .navbar ul{
      padding-left:0px;
      margin-left:0px;
    }
    .header .navbar ul li:not(.lien5,.lien6) {
       padding: 0 10px;
    }
    .header .navbar ul li a{
      font-size:18px;     
    }
    .header .navbar ul li.lien6 a{
      font-size: 13px;
      padding: 6px 17px;
      border-radius: 10px;
      } 
      .header .navbar ul li.lien5 a{
      font-size: 15px;
      }
      .header .navbar .div1 img{
        width: 70px;
        }
        .header .navbar ul li.lien5,.header .navbar ul li.lien6{
          padding:0 4px;
        }

  }


  @media only screen and (max-width: 560px){
    .header .navbar ul{
      padding-left:6px;
      margin-left:0px;
    }
    .header .navbar .div1 img{
      width: 60px;
    }
    .header .navbar ul li:not(.lien5,.lien6) {
       padding: 0 10px;
    }
    .header .navbar ul li.lien4{
      padding-left: 2px;
    }
    .header .navbar ul li a{
      font-size:15px;     
    }
    .header .navbar ul li.lien6 a{
      font-size: 13px;
      padding: 6px 17px;
      border-radius: 7px;
      } 
      .header .navbar ul li.lien5 a{
        font-size: 14px;
      }
        .header .navbar ul li.lien5,.header .navbar ul li.lien6{
          padding:0 3px;
        }
  }





/*     End Header    */


