
/*     Start Main rulez    */
@-o-viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}
@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}
body {
	margin: 0;
	padding: 0;
  background: #2e2e2e;
  font-family: 'Poppins', sans-serif;
     }


/*     End Main rulez    */


/*     Start Header    */

.header .navbar .div1 img{
  width: 100px;
}

.header .navbar div:first-child{
  width: 20%;
}
.header .navbar div:last-child{
  width: 78%;
}
.header .navbar{
  width: 100%;
  background:#131313;
  padding: 30px 0;
  position: fixed;
  z-index: 1;
}

.header .navbar .div1 img{
float: left;
}
.header .navbar:last-child{
  display: none;
}

.header .navbar ul.menu1{
  list-style: none;
  width: 100%;
  display: inline-flex;
}

.header .navbar ul.menu1 li a{
  color:#f4f4f4;
  font-size:25px;     
}
.header .navbar ul.menu1 li:not(.lien5,.lien6,.lien7){
  text-decoration: none;
  display: inline-block;
  padding:0 30px;
}
.header .navbar ul.menu1 li.lien4{
  padding-left:30px;
  padding-right: 0;
}
.header .navbar ul.menu1 li.lien5,.header .navbar ul.menu1 li.lien6
,.header .navbar ul.menu1 li.lien7{
  text-decoration: none;
  display: inline-block;
  padding:0 10px;
}

.header .navbar ul.menu1 li:not(.lien4,.lien5,.lien6,.lien7){
  border-right: 3px solid lightgrey; 
}

.header .navbar ul.menu1 li.lien7{
  display: none;
}

.header .navbar ul.menu1 li a {
  text-decoration: none;
}
.header .navbar ul.menu1 li a:hover,
.header .navbar ul.menu2 li a:hover{
  color:#f8d001;
}
 .header .navbar ul.menu1 li a:active{ 
  color:#f8d001; 
 }

.header .navbar ul.menu1 li.lien5 a{
  font-size: 20px;
  color: #f8d001;
  position: absolute;
  right: 126px;
  top: 40px;
}
.header .navbar ul.menu1 li.lien6 a{
  font-size: 22px;
  background: white;
  color: black;
  padding: 8px 20px;
  border-radius: 17px;
  position: absolute;
  right: 12px;
  top: 27px;
  } 

  @media (max-width:1070px){
    .header .navbar div:first-child{
      width: 15%;
    }
    .header .navbar div:last-child{
      width: 83%;
    }
     .header .navbar ul.menu1{
      padding-left:0px;
      margin-left:0px;
            }  
  }

  @media only screen and (max-width: 960px){
    .header .navbar ul.menu1{
      padding-left:0px;
      margin-left:0px;
    }
    .header .navbar ul.menu1 li a{
      font-size:16px;     
    }
    .header .navbar ul.menu1 li.lien5 a{
      font-size: 17px;
      right: 100px;
      top: 36px;
    }
    .header .navbar ul.menu1 li.lien6 a{
      font-size: 15px;
      padding: 6px 17px;
      border-radius: 10px;
      top: 32px;
      } 
      .header .navbar .div1 img{
        width: 80px;
        }
        .header .navbar ul.menu1 li.lien5,.header .navbar ul.menu1 li.lien6{
          padding:0 4px;
        }
  }
  @media only screen and (max-width: 810px){

    .header .navbar ul.menu1 li a {
      font-size:15px;     
    }
    .header .navbar ul.menu1 li.lien4 {
      padding-left: 25px;
    }
      .header .navbar .div1 img{
        width: 80px;
        }

  }
  @media only screen and (max-width: 700px){
    .header .navbar ul.menu1 li:not(.lien5,.lien6) {
      padding: 0 13px;
    }
    .header .navbar ul.menu1 li a{
      font-size:18px;     
    }
    .header .navbar ul.menu1 li.lien6 a{
      font-size: 13px;
      padding: 6px 17px;
      border-radius: 10px;
      } 
      .header .navbar ul.menu1 li.lien5 a{
      font-size: 16px;
      right: 90px;
      }
      .header .navbar .div1 img{
        width: 70px;
        }
  }

  /**
* Mobile Navigation 
*/
 
  @media only screen and (max-width: 600px){
    .navbar{
      margin-bottom: 0;
    }

    .header .navbar:last-child{
      display: block;
    }
    .header .navbar ul{
      padding:0px;
    }
    .header .navbar .div1 img{
      width: 70px;
      padding-left: 10px;
    }   
    .header .navbar div:first-child{
      width: 35%;
    }
    .header .navbar div:last-child{
      width: 63%;
    }
    .header .navbar:first-child{
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
    }
    .header .navbar:last-child{
      width: 100%;
      background:#131313;
      padding: 25px 0;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
      position: fixed;
      bottom: 0;
      text-align: center;
    }
    .header .navbar ul.menu2{
      list-style: none;
      width: 100%;
    }
    .header .navbar ul.menu2 li{
      display: inline-block;
      padding: 0 12px;
    }
      
    .header .navbar ul.menu2 li a {
      text-decoration: none;
    }
    .header .navbar ul.menu1 li.lien7{
      display: block;
      display: block;
      position: absolute;
      top: 35px;
      right: 128px;
    }
    .header .navbar ul.menu2 li:not(.lien4){
      border-right: 3px solid lightgrey; 
    }
    .header .navbar ul.menu2 li a{
      color:#f4f4f4;
      font-size:13px;      
    }
    .header .navbar ul.menu2 li a:active{ 
      color:#f8d001; 
     }


  }

/*     End Header    */

	/*------------------- Style Form -------------->*/
   form{
    position: absolute;
    top: 32%;
    width: 100%;
    height: auto;
   }

  label#lblerreur{
    color: red;
    padding-top: 5px;
    display: none;
    }
  .btn-warning {
		background-color: #f8d001;
		border-color: #ffc107;
		border-radius: 50%;  
		width: 48px;
		outline: none;
		 }
		 .btn-warning:hover{
			 border-color:#f8d001;
			 background-color:#f8d001 ;
		 }
		 .flex-container {
      position: fixed;
      top: 85px;
      width: 77%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      background-color: #f8f2ce;
      border-radius: 50px;
      justify-content: center;
      padding: 18px;
      z-index: 1;
		 }
		    .item1,.item2,.item3,.item4 {
			background-color: #f8f2ce;
		  }
		  .item1,.item2{
			  flex: 28%;
		  }
		  .item3{
			flex: 19%;
		}
		.item4{
			flex: 17%;
		}

		  .glyphicon-search{
			  font-weight: 300;
			  font-size: 25px;
		  }		  
	
		 .container{
		  width: 80%;
		 }
		 input{
		  padding-right:0;
		  padding-left:0;
		  border:none;
		  width: 100%;
		  outline: none;
		  padding-inline-start: 14px;
      font-size: 20px;
		  }
      #btn2{
        display: none;
      }
		  input.item1{
		  padding-inline-start: 20px;
		  }

	   input.item4{
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		width: 20%;
	  }
	  input.item1{
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	  }

	   input::placeholder{
		   padding-left: 20px;
		   font-size: 20px;
	   }
	   input:not(#input4){
		border-right: 2px solid #a8a383;  
		 }
		 .btn:focus{
			background-color: #f8cf03;
			border-color: #f8cf03;
			outline: none;
		}
		 .btn:active{
			 background-color: #f8cf03;
			 border-color: #f8cf03;
			 outline: none;
		 }

     		  /* Responsive layout - makes a one column-layout instead of a two-column layout */
		  @media (max-width: 820px) {
        .item1,.item2,.item3 ,.item4{
          flex:20%;
        }
        .flex-container {
          justify-content: center;
          padding-bottom: 10px;
          }
          input{
            font-size: 16px;
          }
        }
        @media (max-width: 760px) {
        input::placeholder{
          padding-left: 7px;
          font-size: 17px;
        }
        input{
          font-size:14px;
        }
      }
      @media (max-width: 600px) {
        /* form{
         width: 100%;
         position: fixed;
         bottom:80px;
         } */
         .btn{
          position: fixed;
          right: 9%;
          bottom: 10%;
          display: block;
         }
        .flex-container {
          bottom:20px;
          width: 100%;
          background-color: #f8f2ce;
          border-radius: 30px 30px 0 0;
          justify-content: center;
          padding:18px;
          position: static;
          z-index: 1;
          }

          .item1,.item2,.item3,.item4{
            flex: 100%;
          }
          input:not(#input4){
          border-right:none;  
          }
          input{
          border-bottom: 2px solid #a8a383;  
          }
          input.item1{
            padding-inline-start:0;
            }
      
           input.item4{
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          width: 20%;
          }
          input.item1{
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          }
        input::placeholder{
          padding-left:0;
          font-size: 15px;
        }
        input{
          padding-inline-start: 0;
          font-size: 14px;
          margin:13px;
        }
        label#lblerreur {
         font-size: 12px;
         }
      }

       /* style resuta recherch  */

       table{
         margin:5px 0;
       }
         
       tr{
        cursor: pointer;
       }
       tr:hover{
         background-color: #f8f2ce;
        }

      .flex-container3 {
        display: flex;
        flex-wrap: wrap;
        font-size: 13px;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;

      }
      
      .flex-item-left {
        background-color: #fff;
        padding: 10px;
        flex: 50%;
		    border-right: 1px solid #a8a383;
        border-bottom-left-radius: 35px; 
      }
      
      .flex-item-right {
        background-color: #fff;
        padding: 10px;
        flex: 50%;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px; 
      }
      .flex-item-left img,.flex-item-right img{
        vertical-align: text-top;
        padding-left: 5px;
      }
      .divtable{
       margin:0 20px;
       position: relative;
       top: -55px;
       padding-right: 2px;
       background-color: #fff;
       padding-top:30px;
       padding-bottom:20px;
       border-radius: 10px 10px 35px 35px ;
      }
      td{
        color:#b1b1b1;
        padding-bottom: 17px;
      }
      td:last-child{
        color:#91d65f;
        font-weight: bold;
      }
      .arrow{
        display:none;
      }
   
      @media (max-width: 770px) {
        .flex-item-right, .flex-item-left {
          flex: 100%;
          padding-bottom:0;
        }
        .flex-item-right{
          padding-top:0;
        }
        td{
          padding-bottom: 12px;
        }
        .container{
          width: 72%;
         }
      }
      @media (max-width: 600px) {
        .glyphicon{
          display: none;
        }
        #btn1{
          display: none;
        }
        #btn2{
          display: block;
        }
        .container{
          width: 80%;
         }
         .divtable{
          top: 0;
          background-color: #fff;
          border-top-right-radius: 35px;
          border-top-left-radius: 35px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;  
          margin: 0;
         }
         .flex-item-left {
          border-right:none;
         }
         .arrow{
          display: block;
        }

      }
