
/*     Start Main rulez    */
@-o-viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}
@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

body {
	margin: 0;
	padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
     }

/************ Start jarallax *********/
/* demo styles */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.jarallax {
  min-height: 600px;
}


/* hero block */
.demo-table {
  display: table;
  width: 100%;
  height: 600px;
}
.demo-table-cell:not(#demoTable1) {
  text-align: center;
  vertical-align: middle;
}
.demo-table-cell {
  display: table-cell;
}


.jarallax-keep-img > .jarallax-img {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: -1;
}

h1 {
  font-size: 80px;
  margin-bottom: 20px;
  color:#9ab2ca;
  text-transform:uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.demo-table-cell a{
  text-decoration: none;
}
.demo-table-cell a span{
  font-size: 22px;
  border: 3px solid #9ab2ca;
  padding: 5px 12px;
  color: #9ab2ca;
  text-transform:uppercase;
  cursor: pointer;
}
.demo-table-cell a span:hover{
  border: 2px solid white;
  color: white;
}

@media only screen and (max-width: 600px){
  h1{
    font-size: 45px;
    line-height: 1.5;
  }
  .demo-table-cell a span {
    font-size: 17px;
  }
}


/************End jarallax *********/
/*     End Main rulez    */



/*     Start Header    */

.header .navbar .div1 img{
  width: 100px;
}

.header .navbar div:first-child{
  width: 20%;
}
.header .navbar div:last-child{
  width: 78%;
}
.header .navbar{
  width: 100%;
  padding: 30px 0;
}

.header .navbar .div1 img{
float: left;
}
.header .navbar:last-child{
  display: none;
}

.header .navbar ul.menu1{
  list-style: none;
  width: 100%;
  display: inline-flex;
}

.header .navbar ul.menu1 li a{
  color:black;
  font-size:25px; 
  font-weight: 590;     
}
.header .navbar ul.menu1 li.lien7 a{
  color:white !important;
}
.header .navbar ul.menu1 li:not(.lien5,.lien6,.lien7){
  text-decoration: none;
  display: inline-block;
  padding:0 30px;
}
.header .navbar ul.menu1 li.lien4{
  padding-left:30px;
  padding-right: 0;
}
.header .navbar ul.menu1 li.lien5,.header .navbar ul.menu1 li.lien6
,.header .navbar ul.menu1 li.lien7{
  text-decoration: none;
  display: inline-block;
  padding:0 10px;
}

.header .navbar ul.menu1 li:not(.lien4,.lien5,.lien6,.lien7){
  border-right: 3px solid lightgrey; 
}

.header .navbar ul.menu1 li.lien7{
  display: none;
}

.header .navbar ul.menu1 li a {
  text-decoration: none;
}
.header .navbar ul.menu1 li a:hover,
.header .navbar ul.menu2 li a:hover{
  color:#f8d001;
}
 .header .navbar ul.menu1 li a:active{ 
  color:#f8d001; 
 }

.header .navbar ul.menu1 li.lien5 a{
  font-size: 20px;
  color: #f8d001;
  position: absolute;
  right: 126px;
  top: 40px;
}
.header .navbar ul.menu1 li.lien6 a{
  font-size: 22px;
  background: white;
  color: black;
  padding: 8px 20px;
  border-radius: 17px;
  position: absolute;
  right: 12px;
  top: 27px;
  } 

  @media (max-width:1070px){
    .header .navbar div:first-child{
      width: 15%;
    }
    .header .navbar div:last-child{
      width: 83%;
    }
     .header .navbar ul.menu1{
      padding-left:0px;
      margin-left:0px;
            }  
  }

  @media only screen and (max-width: 960px){
    .header .navbar ul.menu1{
      padding-left:0px;
      margin-left:0px;
    }
    .header .navbar ul.menu1 li a{
      font-size:16px;     
    }
    .header .navbar ul.menu1 li.lien5 a{
      font-size: 17px;
      right: 100px;
      top: 36px;
    }
    .header .navbar ul.menu1 li.lien6 a{
      font-size: 15px;
      padding: 6px 17px;
      border-radius: 10px;
      top: 32px;
      } 
      .header .navbar .div1 img{
        width: 80px;
        }
        .header .navbar ul.menu1 li.lien5,.header .navbar ul.menu1 li.lien6{
          padding:0 4px;
        }
  }
  @media only screen and (max-width: 810px){

    .header .navbar ul.menu1 li a {
      font-size:15px;     
    }
    .header .navbar ul.menu1 li.lien4 {
      padding-left: 25px;
    }
      .header .navbar .div1 img{
        width: 80px;
        }

  }
  @media only screen and (max-width: 700px){
    .header .navbar ul.menu1 li:not(.lien5,.lien6) {
      padding: 0 13px;
    }
    .header .navbar ul.menu1 li a{
      font-size:18px;     
    }
    .header .navbar ul.menu1 li.lien6 a{
      font-size: 13px;
      padding: 6px 17px;
      border-radius: 10px;
      } 
      .header .navbar ul.menu1 li.lien5 a{
      font-size: 16px;
      right: 90px;
      }
      .header .navbar .div1 img{
        width: 70px;
        }
  }

  /**
* Mobile Navigation 
*/
 
  @media only screen and (max-width: 600px){
    .jarallax:not(:first-child) {
      z-index: -1;
    }
    .navbar{
      background: rgb(33 37 41 / 56%);
      margin-bottom: 0;
      z-index: 2;
    }

    .header .navbar ul{
      padding:0px;
    }
    .header .navbar .div1 img{
      width: 70px;
      padding-left: 10px;
    }   
    .header .navbar div:first-child{
      width: 35%;
    }
    .header .navbar div:last-child{
      width: 63%;
    }
    .header .navbar:first-child{
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      position: fixed;
      z-index: 3;
    }
    .header .navbar:last-child{
      width: 100%;
      padding: 18px 0;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
      overflow: hidden;
      position: fixed;
      bottom: 0;
      text-align: center;
      display: block;
    }
    .header .navbar ul.menu2{
      list-style: none;
      width: 100%;
    }
    .header .navbar ul.menu2 li{
      display: inline-block;
      padding: 0 12px;
    }
      
    .header .navbar ul.menu2 li a {
      text-decoration: none;
    }
    .header .navbar ul.menu1 li.lien7{
      display: block;
      position: absolute;
      top: 35px;
      right: 128px;
    }
    .header .navbar ul.menu2 li:not(.lien4){
      border-right: 3px solid lightgrey; 
    }
    .header .navbar ul.menu2 li a{
      color:#f4f4f4;
      font-size:13px;  
      font-weight: 600     
    }
    .header .navbar ul.menu2 li a:active{ 
      color:#f8d001; 
     }


  }

/*     End Header    */

	/*------------------- Style Form -------------->*/
   form{
    position: relative;
    width: 100%;
    height: auto;
   }

  label#lblerreur{
    color: red;
    padding-top: 5px;
    display: none;
    }
  .btn-warning {
		background-color: #f8d001;
		border-color: #f8d001;
		border-radius: 50%;  
		width: 48px;
		outline: none;
		 }
		 .btn-warning:hover{
			 border-color:#ffc107;
			 background-color:#ffc107 ;
		 }

     .flex-container {
      position: relative;
      top: -45px;;
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      background-color: #f8f2ce;
      border-radius: 50px;
      justify-content: center;
      padding:14px;
      z-index: 1;
      }
		    .item1,.item2,.item3,.item4 {
			background-color: #f8f2ce;
		  }
		  .item1,.item2{
			  flex: 24%;
		  }
		  .item3{
			flex: 19%;
		}
		.item4{
			flex: 17%;
		}

		  .glyphicon-search{
			  font-weight: 300;
			  font-size: 25px;
		  }		  
	
		 .container{
		  width: 65%;
		 }
		 input{
		  padding-right:0;
		  padding-left:0;
		  border:none;
		  width: 100%;
		  outline: none;
		  padding-inline-start: 14px;
      font-size: 20px;
		  }
      #btn2{
        display: none;
      }
		  input.item1{
		  padding-inline-start: 20px;
		  }

	   input.item4{
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		width: 20%;
	  }
	  input.item1{
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	  }

	   input::placeholder{
		   padding-left: 20px;
		   font-size: 20px;
	   }
	   input:not(#input4){
		border-right: 1px solid #a8a383;  
		 }
		 .btn:focus{
			background-color: #f8cf03;
			border-color: #f8cf03;
			outline: none;
		}
		 .btn:active{
			 background-color: #f8cf03;
			 border-color: #f8cf03;
			 outline: none;
		 }

     		  /* Responsive layout - makes a one column-layout instead of a two-column layout */
		  @media (max-width: 820px) {
        .item1,.item2,.item3 ,.item4{
          flex:20%;
        }
        .flex-container {
          justify-content: center;
          padding-bottom: 10px;
          }
          input{
            font-size: 16px;
          }
        }
        @media (max-width: 760px) {
        input::placeholder{
          padding-left: 7px;
          font-size: 17px;
        }
        input{
          font-size:14px;
        }
      }
      @media (max-width: 600px) {
        form{
          position: fixed;
          bottom: 68px;
          z-index: 2;
         }
         .btn{
          position: fixed;
          right: 9%;
          bottom: 10%;
          display: block;
         }
        .flex-container {
          bottom:20px;
          width: 100%;
          background-color: #f8f2ce;
          border-radius: 30px 30px 0 0;
          position: static;
          z-index: 1;
          }

          .item1,.item2,.item3,.item4{
            flex: 100%;
          }
          input:not(#input4){
          border-right:none;  
          }
          input{
          border-bottom: 1px solid #a8a383;  
          }
          input.item1{
            padding-inline-start:0;
            }
      
           input.item4{
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          width: 20%;
          }
          input.item1{
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          }
        input::placeholder{
          padding-left:0;
          font-size: 15px;
        }
        input{
          padding-inline-start: 0;
          font-size: 14px;
          margin:8px;
        }
        label#lblerreur {
         font-size: 9px;
         padding-top: 0;
         }
      }

       /* style resuta recherch  */

       table{
         margin:5px 0;
       }
         
       tr{
        cursor: pointer;
       }
       tr:hover{
         background-color: #f8f2ce;
        }

      .flex-container3 {
        display: flex;
        flex-wrap: wrap;
        font-size: 13px;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;

      }
      
      .flex-item-left {
        background-color: #fff;
        padding: 10px;
        flex: 50%;
		    border-right: 1px solid #a8a383;
        border-bottom-left-radius: 35px; 
      }
      
      .flex-item-right {
        background-color: #fff;
        padding: 10px;
        flex: 50%;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px; 
      }
      .flex-item-left img,.flex-item-right img{
        vertical-align: text-top;
        padding-left: 5px;
      }
      .divtable{
       margin:0 20px;
       position: relative;
       top: -55px;
       padding-right: 2px;
       background-color: #fff;
       padding-top:30px;
       padding-bottom:20px;
       border-radius: 10px 10px 35px 35px ;
      }
      td{
        color:#b1b1b1;
        padding-bottom: 17px;
      }
      td:last-child{
        color:#91d65f;
        font-weight: bold;
      }
      .arrow{
        display:none;
      }
   
      @media (max-width: 770px) {
        .flex-item-right, .flex-item-left {
          flex: 100%;
          padding-bottom:0;
        }
        .flex-item-right{
          padding-top:0;
        }
        td{
          padding-bottom: 12px;
        }
        .container{
          width: 72%;
         }
      }
      @media (max-width: 600px) {
        .glyphicon{
          display: none;
        }
        #btn1{
          display: none;
        }
        #btn2{
          display: block;
        }
        .container{
          width: 85%;
         }
         .divtable{
          top: 0;
          background-color: #fff;
          border-top-right-radius: 35px;
          border-top-left-radius: 35px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;  
          margin: 0;
         }
         .flex-item-left {
          border-right:none;
         }
         .arrow{
          display: block;
        }

      }
